<li>
  <%= gravatar_for user, size: 50 %>
  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user) %>
    | <%= button_to t("pages.user.btn_delete"), user, method: :delete, class: "btn btn-primary", data: {confirm: t("pages.user.confirm_delete")} %>
  <% end %>
</li>
